cookiecutter-data-science
python-dotenv
# beautifulsoup4
scikit-learn
ipywidgets
pySmartDL
psycopg2
pandas
Jinja2
typer
rarfile
yt-dlp
tqdm
lxml

# YOUTUBE API
simple-youtube-api
google-auth-oauthlib
google-api-python-client

# GOOGLE TRENDS
pytrends

# loguru